---
import Layout from "../layouts/Layout.astro";
import Button from "../components/button";
---

<Layout>
    <div class="w-full min-h-screen flex flex-col">
        <div class="relative">
            <div class="absolute w-full h-full">
                <div
                    class="absolute bg-black/70 w-full h-full backdrop-blur-sm"
                >
                </div>
                <img
                    class="w-full h-full object-cover"
                    src="./img-back-home.png"
                    alt="Fundo"
                />
            </div>

            <div class="relative flex flex-col px-6 md:px-20 lg:px-40">
                <div
                    class="pt-32 md:pt-40 pb-20 md:pb-40 text-white z-10 text-center md:text-left"
                >
                    <h4
                        class="text-3xl sm:text-4xl md:text-5xl font-semibold mb-2"
                    >
                        Pare de Pagar
                    </h4>
                    <h1
                        class="text-5xl sm:text-7xl md:text-8xl lg:text-9xl uppercase font-bold leading-tight mb-2"
                    >
                        INSS de Obra
                    </h1>
                    <h4
                        class="text-3xl sm:text-4xl md:text-5xl font-semibold mb-4"
                    >
                        Reduza Legalmente em Até 80%
                    </h4>
                    <p class="text-neutral-300 mt-6 text-base sm:text-lg">
                        Especialistas em contribuições de obras ao INSS
                    </p>

                    <div
                        class="flex flex-col sm:flex-row gap-5 mt-10 items-center sm:items-start justify-center md:justify-start"
                    >
                        <Button
                            type={"primario"}
                            className={"!text-lg sm:!text-xl !font-normal !uppercase w-full sm:w-auto"}
                        >
                            Saiba Mais
                        </Button>
                        <Button
                            type={"transparente"}
                            className={"!text-lg sm:!text-xl !font-normal !uppercase flex items-center justify-center w-full sm:w-auto"}
                        >
                            <img
                                src="/icon-whatsapp.png"
                                alt="WhatsApp Icon"
                                class="w-5 h-5 mr-2 group-hover:invert"
                            />
                            FALE COM UM ESPECIALISTA
                        </Button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Seção com divisões lado a lado: azul, preta, e branca (2 linhas) -->
        <div class="px-6 md:px-20 lg:px-40 -top-10 relative fade-in-contrario">
            <div
                class="min-h-[400px] md:min-h-[600px] flex flex-col lg:flex-row overflow-hidden border border-black lg:rounded-lg"
            >
                <!-- Seção Azul com gradiente de baixo para cima -->
                <div
                    class="bg-linear-0 from-secondary-color to-primary-color flex-2 flex items-center justify-center p-8 md:p-12"
                >
                    <div class="max-w-lg">
                        <p class="text-gray-300 text-sm md:text-base mb-2">
                            Engaje as suas construções e reformas de forma que
                            não
                        </p>
                        <h2
                            class="text-white text-3xl md:text-4xl lg:text-5xl font-bold mb-6 leading-tight"
                        >
                            Custe tanto quanto a própria obra!
                        </h2>
                        <div class="flex gap-4 items-start mb-6">
                            <div class="w-1 bg-white h-24 shrink-0"></div>
                            <p
                                class="text-white text-sm md:text-base leading-relaxed"
                            >
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Omnis ullam qui non nihil
                                excepturi doloremque, ea, soluta, veritatis
                                eaque porro beatae! Laborum magni hic ipsam fuga
                                odit necessitatibus exercitationem consectetur!
                            </p>
                        </div>
                        <Button
                            type={"transparente"}
                            className={"!text-lg sm:!text-xl !font-normal !uppercase flex items-center justify-center"}
                        >
                            <img
                                src="/icon-whatsapp.png"
                                alt="WhatsApp Icon"
                                class="w-5 h-5 mr-2 group-hover:invert"
                            />
                            FALE COM UM ESPECIALISTA
                        </Button>
                    </div>
                </div>

                <!-- Seção Preta -->
                <div
                    class="bg-black flex-[0.7] flex items-center justify-center p-8"
                >
                    <div class="text-center -rotate-90 p-6 lg:p-0">
                        <p
                            class="text-white text-5xl md:text-7xl font-bold"
                            id="200"
                        >
                            200%
                        </p>
                        <p class="text-white text-xl md:text-2xl mt-2">
                            de <span class="font-bold">EFICIÊNCIA</span>
                        </p>
                    </div>
                </div>

                <!-- Seção Branca dividida em 2 linhas (uma enombaixo da outra) -->
                <div class="bg-white flex-[0.7] flex flex-col">
                    <div
                        class="flex-1 flex items-center justify-center border-b border-gray-200 p-6"
                    >
                        <div class="text-center">
                            <p
                                class="text-black text-4xl md:text-6xl font-bold mb-3"
                                id="50"
                            >
                                50%
                            </p>
                            <p
                                class="text-primary-color text-lg md:text-xl whitespace-nowrap"
                            >
                                <span class="font-bold">TEMPO</span> de processo
                            </p>
                        </div>
                    </div>
                    <div class="flex-1 flex items-center justify-center p-6">
                        <div class="text-center">
                            <p
                                class="text-black text-4xl md:text-6xl font-bold mb-3"
                                id="40"
                            >
                                +40%
                            </p>
                            <p class="text-primary-color text-xl md:text-2xl">
                                de <span class="font-bold">AGILIDADE</span>
                            </p>
                            <p class="text-primary-color text-xl md:text-2xl">
                                nos processos
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const animarNumero = (id:string, temp:number) => {
            const element = document.getElementById(id);
            if (!element) return;

            const numeroFormatado = parseInt(
                element.innerHTML.replace(/[^0-9]/g, ""),
            );
            for (let i = 0; i <= numeroFormatado; i++) {
                setTimeout(() => {
                    element.innerHTML = i + "%";
                }, i * temp);
            }
        };

        document.addEventListener("DOMContentLoaded", () => {
            animarNumero("200", 10);
            animarNumero("50", 50);
            animarNumero("40", 50);
        });
    </script>
</Layout>
