---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="w-full min-h-screen flex flex-col items-center justify-center fade-in-contrario">
        <div class="flex flex-col w-full items-center justify-center gap-6 max-w-[600px]">
            <div
                class="relative flex flex-col rounded-full w-[100px] h-[100px] bg-neutral-400"
            >
            </div>
            <div class="flex flex-col gap-1 text-center">
                <h1 class="text-5xl uppercase font-bold">Legalize Obras</h1>
                <h4 class="text-neutral-500">
                    Sempre trabalhando para <strong>VOCÊ</strong>!
                </h4>
                <p class="text-justify mt-10 text-neutral-400">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Sit dolor eum omnis id reiciendis harum quis minus, deleniti
                    maxime voluptatum atque quod doloremque asperiores? Cum
                    laborum quod aliquam corrupti! Suscipit. Lorem, ipsum dolor
                    sit amet consectetur adipisicing elit. Perspiciatis delectus
                    natus eius voluptas eos voluptate ipsa molestiae quas illum,
                    iure sequi? Repudiandae inventore eos omnis dicta harum. At,
                    quas quam!
                </p>
            </div>
            <div class="flex gap-3 flex-col lg:flex-row text-primary-color">
                <div
                    class="bg-white shadow-lg p-4 flex flex-col gap-1 rounded-md border border-neutral-200 hover:opacity-80 transition-all duration-300 items-center justify-center pb-10 pt-10"
                >
                    <div
                        class="w-[100px] h-[100px] bg-linear-90 from-primary-color to-secondary-color rounded-full flex items-center justify-center"
                    >
                        <span
                            class="material-symbols-outlined !text-5xl text-white"
                        >
                            security
                        </span>
                    </div>
                    <h1 class="text-xl font-bold uppercase">Honestidade</h1>
                    <p class="text-neutral-500 text-sm text-center">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Illo veritatis quam qui. Qu
                    </p>
                </div>

                <div
                    class="bg-white shadow-lg p-4 flex flex-col gap-1 rounded-md border border-neutral-200 hover:opacity-80 transition-all duration-300 items-center justify-center pb-10 pt-10"
                >
                    <div
                        class="w-[100px] h-[100px] bg-linear-90 from-primary-color to-secondary-color rounded-full flex items-center justify-center"
                    >
                        <span
                            class="material-symbols-outlined !text-5xl text-white"
                        >
                            security
                        </span>
                    </div>
                    <h1 class="text-xl font-bold uppercase">Honestidade</h1>
                    <p class="text-neutral-500 text-sm text-center">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Illo veritatis quam qui. Qu
                    </p>
                </div>

                <div
                    class="bg-white shadow-lg p-4 flex flex-col gap-1 rounded-md border border-neutral-200 hover:opacity-80 transition-all duration-300 items-center justify-center pb-10 pt-10"
                >
                    <div
                        class="w-[100px] h-[100px] bg-linear-90 from-primary-color to-secondary-color rounded-full flex items-center justify-center"
                    >
                        <span
                            class="material-symbols-outlined !text-5xl text-white"
                        >
                            security
                        </span>
                    </div>
                    <h1 class="text-xl font-bold uppercase">Honestidade</h1>
                    <p class="text-neutral-500 text-sm text-center">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Illo veritatis quam qui. Qu
                    </p>
                </div>
            </div>
        </div>
    </div>
</Layout>
