@import "tailwindcss";

:root{
    --primary-color: #227899;
    --secondary-color: #2A2D4C;
}

@theme {
  --color-primary-color: #227899;
  --color-secondary-color: #2A2D4C;
  --font-family-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

.fade-in {
  animation: aparecer 0.5s ease-in-out forwards;
}

.fade-in-contrario {
  animation: aparecer-ao-contrario 0.5s ease-in-out forwards;
}


@keyframes aparecer {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes aparecer-ao-contrario {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.gradient-text {
  background: linear-gradient(to bottom, var(--color-primary-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
